/*
In NativeScript, the app.css file is where you place CSS rules that
you would like to apply to your entire application. Check out
http://docs.nativescript.org/ui/styling for a full list of the CSS
selectors and properties you can use to style UI components.

/*
In many cases you may want to use the NativeScript core theme instead
of writing your own CSS rules. For a full list of class names in the theme
refer to http://docs.nativescript.org/ui/theme.
*/
@import '~nativescript-theme-core/css/core.light.css';

/*
For example, the following CSS rule changes the font size of all UI
components that have the btn class name.
*/
.btn {
    font-size: 18;
}

.third {
    background-color: #ddd;
}

.list-item {
    margin: 5px;
}

.mg-1 {
    margin: 1%;
}

.mg-t-1 {
    margin-top: 1%;
}

.mg-l-1 {
    margin-left: 1%;
}

.mg-r-1 {
    margin-right: 1%;
}

.mg-5 {
    margin: 2%;
}

.mg-left-5 {
    margin-left: 2%;
}

.mg-b-0 {
    margin-bottom: 0 !important;
}

.mg-l-0 {
    margin-left: 0 !important;
}

.mg-r-0 {
    margin-right: 0 !important;
}

.bd-solid {
    border: 1px solid #777;
}

.pd-5 {
    padding: 2%;
}

.pd-10 {
    padding: 4%;
}

.text-white {
    color: #fff;
}

.ts-5 {
    font-size: 40;
}

.bg-red-primary {
    background-color: #f44336;
}

.txt-red-primary {
    color: #f44336;
}

.bg-red-secondary {
    background-color: #EF9A9A;
}

.bg-purple-primary {
    background-color: #9c27b0;
}

.txt-purple-primary {
    color: #9c27b0;
}

.bg-green-primary {
    background-color: #009688;
}

.txt-green-primary {
    color: #009688;
}

.bg-blue-primary {
    background-color: #2196f3;
}

.txt-blue-primary {
    color: #2196f3;
}

.br-5 {
    border-radius: 4%;
}

.fa {
    font-family: 'MaterialIcons-Regular';
}

.txt-align-center {
    text-align: center;
}

.txt-align-right {
    text-align: right;
}

.v-align-middle {
    vertical-align: middle;
}

.txt-wgt-5 {
    font-weight: 500;
}

.txt-wgt-9 {
    font-weight: 900;
}

.txt-black {
    color: #000;
}